ansible==2.9.4

awscli==1.17.11
pywinrm==0.4.1
dopy==0.3.7
pysphere==0.1.7
python-consul==1.1.0
f5-sdk==3.0.21
bigsuds==1.0.6
netaddr==0.7.19
boto==2.49.0
azure==4.0.0
cs==2.7.1
docker-py==1.10.6
docker-compose==1.25.4
apache-libcloud==2.8.0
shade==1.32.0
pyvmomi==6.7.3
datadog==0.34.0
zabbix-api==0.5.4

cfconfigurator>=0.2.4
bosh_inventory>=0.2.2

gitpython
